.contactsBlock {
    min-height: 80vh;
    background-color: #c8c8ff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.contactsContainer {
    flex-direction: column;
}

.title {
    background-color: #eeeef5;
}

.formContainer {
    width: 80%;
    max-width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.send {
    background-color: #f68181;
    padding: 7px;
    font-weight: bold;
    font-size: large;
    justify-self: flex-end;
}